html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background: #131417;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
}

a {
  text-decoration: none;
}

.l-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-sidebar {
  min-width: 188px;
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-section {
  margin: 32px 0;
}

.l-margin-left-2rem {
  margin-left: 2rem !important;
}

.l-margin-left-4rem {
  margin-left: 4rem !important;
}

.badge {
  background: #ffdd40;
  border-radius: 4px;
  margin-left: 4px;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
}

.codepen-logo {
  text-align: center;
}

.button-logo {
  margin: 0 16px;
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 154px;
  padding: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.button-logo-text {
  display: block;
  background: black;
  padding: 8px;
  width: 100%;
}

.header-buttons {
  padding: 8px;
}

.header-buttons .button {
  margin-right: 8px;
  min-width: 100px;
}

.header-buttons .button-primary {
  border: 0;
  background: #47cf73;
  color: black;
}

.header-buttons .button-secondary {
  background: #444857;
}

.button-primary {
  border: 0;
  background: #47cf73;
  color: black;
}

.highlight-orange {
  color: #a88038;
}

.highlight-yellow {
  color: #e1ca72;
}

.highlight-green {
  color: #74b087;
}

.highlight-purple {
  color: #9f8198;
}

.highlight-blue {
  color: #7a99ad;
}

.code-card {
  margin-bottom: 8px;
  background: #1d1e22;
  border-radius: 6px;
  width: 300px;
  height: 140px;
  font-size: 13px;
}

.code-card .code-card-title-text {
  margin: 0;
  margin-left: 8px;
}

.code-card-html {
  position: relative;
  left: 160px;
  bottom: 20px;
}

.code-card-header {
  padding: 4px 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.code-card-body {
  padding: 8px;
  padding-top: 0;
}

.code-card-body p {
  margin: 0;
}

.code-card-scss {
  position: relative;
  left: 220px;
  bottom: 20px;
}

.code-card-js {
  position: relative;
  left: 160px;
  bottom: 20px;
}

.footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  background: black;
}

.footer-links h4 {
  margin: 2px;
  margin-right: 1rem;
}

.footer-links li {
  margin: 1rem;
}

.hero {
  margin: 32px;
}

.hero .hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero-body .hero-description {
  width: 50%;
  padding: 32px;
}

.hero-body-description {
  width: 50%;
  padding: 32px;
}

.hero-body-description .hero-body-description-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
}

.hero-body-description .hero-body-description-title .hero-body-description-text {
  font-size: 1.1rem;
}

.hero-footer .button {
  width: 200px;
  font-size: 1.4em;
}

.hero-body-image {
  width: 50%;
}

.hero-body-image .hero-body-image-card {
  margin: 16px auto;
  border-radius: 6px;
  width: 495px;
  height: 410px;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
}

.hero-logo {
  font-size: 36px;
}

.serch-form {
  padding: 8px;
  margin: 8px;
  width: 100%;
  background: #252830;
  border-radius: 4px;
  font-size: 20px;
}

.serch-form .serch-form-input {
  margin-left: 16px;
  width: 100%;
  background: #252830;
  font-size: 20px;
  font-weight: bold;
  border: 0;
}

.sidebar {
  background-color: #1F1F26;
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

.get-start {
  text-align: center;
}

.sidebar-menu {
  display: block;
  padding-left: 16px;
}

.sidebar-menu-sub-list {
  margin-bottom: 16px;
}

.sidebar-menu-title {
  font-size: .8rem;
  margin-bottom: .2rem;
}

ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

.text-warning {
  color: #ffdd40;
}

.text-primary {
  color: #47cf73;
}

.text-accent {
  color: #0ebeff;
}

.get-start-text, .text-weak {
  color: #b7bbc8;
}

.get-start-text {
  margin: .2rem;
  font-size: .8rem;
  text-align: center;
}

.blinking {
  -webkit-animation: blinkingText 1.2s infinite;
          animation: blinkingText 1.2s infinite;
}
/*# sourceMappingURL=index.css.map */