.sidebar
    background-color: #1F1F26
    ul
    padding-left: 0
    margin-left: 0
    list-style-type: none

.get-start
    p
    text-align: center

.sidebar-menu
    a
        display: block
        padding-left: 16px
        &:hover
            background-color: black
            cursor: pointer

.sidebar-menu-sub-list
    margin-bottom: 16px

.sidebar-menu-title
    font-size: .8rem
    margin-bottom: .2rem
    padding-left: 16px

ul
    padding-left: 0
    margin-left: 0
    list-style-type: none